<li id="post-<%=i._id%>">
<% if(locals.user && locals.user.id==i.user.id){ %>
    <a class="delete-post-button" href="/posts/destroy/<%=i.id%>">Delete</a>
<%}%>
 <%=i.content %>
<br>
 <%=i.user.name %>
 <% if(locals.user){%>
    <a class="toggle-like-button" data-likes="<%=i.likes.length%>" href="/likes/toggle/?id=<%=i._id%>&type=Post">
        <%=i.likes.length%>Likes
    </a>
<%}else{%>
    <%=i.likes.length%>Likes
<%}%>
 <% if(locals.user) {%>
    <div class="post-comments-form">
        <form action="/comments/create" method="POST" id="<%=i._id%>-comment-form">
            <input type="text" name="content" placeholder="Add a Comment.....">
            <input type="hidden" name="post" value="<%=i._id%>">
            <input type="submit" value="Add Comment">
        </form>
    </div>
 <% } %>
 <div class=post-comments-list>
    <ul id="post-comments-<%=i._id%>">
     <% for(comment of i.comments){ %>
        
        <%- include('_comment') -%>
    <% } %>
    </ul>
 </div>
</li>